.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  background-color: #f9f9f9;
  padding: 35px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto 0;
  box-shadow: 0 2px 4px rgba(5, 5, 5, 2.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.download-link {
  clear: both;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.download-icon {
  margin-right: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}

.icons a {
  text-decoration: none;
  color: olivedrab;
  margin-right: 10px;
  font-size: 25px;
  position: relative;
  margin: 20px;
}

.icons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

.icons a:hover::before {
  opacity: 1;
}

.icons i {
  position: relative;
  z-index: 1;
}

.photo {
  width: 200px;
  height: 270px;
  object-fit: cover;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(20, 20, 20, 2.5);
  
}

.info {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-left: 20px; 
}
nav {
  background-color: rgb(120, 120, 112);
  height: 10vh;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
  font-size: 20px;
  display: flex;
}

nav ul li img {
  width: 50px;
  margin-left: 10px;
}

.nav-left ul li a:hover {
  background-color: aqua;
  border-radius: 20px;
}

.nav-left {
  flex: 75%;
}

.nav-right {
  flex: 10%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: black;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

.nav-right a:hover {
  background-color: aqua;
  color: black;
}

.name {
  font-size: 18px;
  margin-bottom: 5px;
  font-style: italic;
  
}

.role {
  font-size: 14px;
  margin-bottom: 5px;
  font-style: italic;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contact-icons a {
  text-decoration: none;
  color: olivedrab;
  margin-right: 10px;
}

.contact-icons i {
  position: relative;
  z-index: 1;
}